extends mainPage

include  mixins/_inputs

block content
    h2.title= `Edit entry: ${data.name}`
    br
    div.container 
        .formField
            form(action=`/edit/data/${data._id}` method="POST")
                +inputForm(data)
                