html    
    head
        title= 'Node Box'
        link(rel='stylesheet', href='/styles.css')
    body
    block header 
        header.top  
            .main
                h1= 'Node Box Experimental Node Environment'
    block content 
    //- block scripts