html    
    head
        title= 'Movie And Game Database: MGDB'
        link(rel='stylesheet', href='/styles.css')
    body
    block header 
        header.top  
            .main
                h1= 'Movie and Game Database: MGDB'
    block content 
    //- block scripts