extends mainPage

include  mixins/_inputs
include  mixins/_showEntries

block content
    h2.title= title
    p.instructions= sentence || 'some content will go here'
    br
    div.container 
        .formField
            form(action='/' method="POST")
                +inputForm()
        
        +showEntries(data)
                
